page, submain, formgroup, info {
	display: block;
}

address {
	display: inline;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

.autosize {
	resize: none;
}

.multivalue {
	cursor: pointer;
}

.help-block.alert-danger {
	color: #737373;
}

button[type="button"] {
	cursor: default;
}

a:not([href]) {
	color: inherit;
	text-decoration: inherit;
}

a.placeholder:not([href]) {}