.post-content {
	padding: 10px;
	border: 1px solid #2E45FF;
	border-radius: 5px;
	background-color: #DCE4FF;
}

#post>header>h1 {
	font-size: 18px;
}

#comments>header {}

#comments>header>h1 {
	font-size: 18px;
}